* {
  box-sizing: border-box;
  font-family: 'Quicksand';
}
:root {
  --gray: #71767e;
  --creamwhite: #ecdfd4;
  --primarygreen: #7ca982;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
